<h1>ABOUT</h1>

<p>Social media links</p>

<button class="social-btn"><%= link_to "Feed my narcissism", "https://www.instagram.com/hereforcattax/"%>

<button class="social-btn"><%= link_to "Listen to my words", "https://www.instagram.com/hereforcattax/"%>
